<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <form action="confirm" method="POST">
    <div>
      名前:<input type="text" name="name" value="">
    </div>
    <div>
      <input type="submit" value="送信する">
    </div>
  </form>
</body>
</html>
